In [2]:
import pandas as pd

In [3]:
import geopandas gpd

SyntaxError: invalid syntax (260151000.py, line 1)

In [ ]:
relative_path = 'data/raw/hotel_bookings.csv'


df = pd.read_csv(relative_path)

In [ ]:
display(df)

In [ ]:
df.info()

In [ ]:
for column in df.columns:
    # Check if any null values exist in the current column
    if df[column].isnull().any():
        print(f"Column '{column}' contains null values.")
    else:
        print(f"Column '{column}' does not contain any null values.")

In [ ]:
# Filter columns with data types 'object' or 'int'
filtered_columns = df.select_dtypes(include=['object', 'int']).columns

# Loop through each filtered column and print unique values
for column in filtered_columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

In [ ]:
#4 columns with null values : children, country, agent and company

In [ ]:
test2 = df.copy()

In [ ]:
#counting null values in all the data frame 
for column in df.columns:
    null_count = df[column].isnull().sum()
    print(f"Number of null values in '{column}': {null_count}")

In [ ]:
#replace the null values of "children" for the value mode 
df['children'] = df['children'].fillna(df['children'].mode()[0])

#replace the null values of "country" for backwardfill 

df['country'] = df['country'].fillna(method='bfill')

#replace the null values of "agent" for the value of mode
df['agent'] = df['agent'].fillna(df['agent'].mode()[0])

In [ ]:
df.shape

In [ ]:
#Dropping column "company", 94% of the values are NaN. For this reason the best to do is just drop the column. 

df.drop('company', axis=1, inplace=True)

In [ ]:
# Define the expected date format
date_format = "%Y-%m-%d"

# Check if dates in a specific column follow the same format
column_name = 'reservation_status_date'

# Parse dates using the specified format and catch any parsing errors
try:
    pd.to_datetime(test2["reservation_status_date"], format=date_format, errors='raise')
    print(f"All dates in column '{column_name}' follow the format {date_format}.")
except ValueError as e:
    print(f"Not all dates in column '{column_name}' follow the format {date_format}.")
    print(f"Error message: {e}")

In [ ]:
df.dtypes

In [ ]:

filtered_data = test2[(test2['hotel'] == 'Resort Hotel') | (test2['hotel'] == 'City Hotel')]

# Step 2: Group the filtered DataFrame by "policy_type" and "gender"
grouped_data = filtered_data.groupby(['hotel', 'is_canceled', "arrival_date_year"]).size()

In [ ]:
display(grouped_data)

In [ ]:
import matplotlib.pyplot as plt

import seaborn as sns

In [ ]:
df["arrival_date_year"]

In [ ]:
df_agg

In [ ]:
# Your DataFrame and plotting code
df_agg = test2.groupby(["hotel", "arrival_date_year", "arrival_date_month"]).size().reset_index(name='arrivals')
df_agg.columns = df_agg.columns.str.strip()



# Define custom order for months
custom_month_order = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

# Convert arrival_date_month to categorical data type with custom order
df_agg['arrival_date_month'] = pd.Categorical(df_agg['arrival_date_month'], categories=custom_month_order, ordered=True)

# Get unique years and hotel types from the filtered DataFrame
unique_years = df_agg['arrival_date_year'].unique()
unique_hotels = df_agg['hotel'].unique()

# Define custom colors for years
custom_palette = sns.color_palette("husl", n_colors=len(unique_years))

# Define custom line styles for hotel types
custom_line_styles = ['-', '--']

# Create a dictionary mapping years to colors
year_color_dict = dict(zip(unique_years, custom_palette))

# Create a dictionary mapping hotel types to line styles
hotel_line_style_dict = dict(zip(unique_hotels, custom_line_styles))

# Set the style for the plots
sns.set(style="whitegrid")

# Create the line plot with adjusted transparency
plt.figure(figsize=(12, 6))
sns.lineplot(data=df_agg, x="arrival_date_month", y="arrivals", hue="arrival_date_year", style="hotel",
             palette=year_color_dict, markers=True, dashes=False, hue_order=unique_years,
             style_order=unique_hotels, linewidth=2)

# Set axis labels and title
plt.xlabel("Month")
plt.ylabel("Number of Arrivals")
plt.title("Monthly Arrivals for Each Hotel Over the Years (Excluding 2015)")

# Show the plot
plt.legend(title="Year")
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.tight_layout()  # Adjust layout to prevent labels from being cut off
plt.show()

In [ ]:
df_agg_2 = test2.groupby(["hotel", "market_segment"]).size()

In [ ]:
df_agg_2

In [ ]:
test2["market_segment"].unique()

In [ ]:
test2["distribution_channel"].unique()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Your DataFrame and plotting code
df_agg_2 = test2.groupby(["hotel", "distribution_channel"]).size().reset_index(name='Bookings')

# Sort the DataFrame by the 'Bookings' column in descending order
df_agg_2 = df_agg_2.sort_values(by='Bookings', ascending=False)

# Set the style for the plots
sns.set(style="whitegrid")

# Create the bar plot
plt.figure(figsize=(12, 8))
sns.barplot(data=df_agg_2, x="distribution_channel", y="Bookings", hue="hotel")

# Set axis labels and title
plt.xlabel("Distribution Channel")
plt.ylabel("Number of Bookings")
plt.title("Bookings by Hotel and Distribution Channel")

# Show the legend
plt.legend(title="Hotel")

# Rotate x-axis labels for better readability
plt.xticks(rotation=45)

# Show the plot
plt.tight_layout()
plt.show()

In [25]:
import geopandas as gpd
import plotly.express as px

# Read the shapefile
gdf = gpd.read_file("data/clean/ne_110m_admin_0_countries/")  # Replace with the path to your shapefile

# Convert to GeoJSON
geojson = gdf.to_json()

# Print the GeoJSON data

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
geojson